/**********BASE CONFIGURATIONS**********/  
body{
    background-color: #151515;
}
.row{
    padding-top: 10px;
}
p {
    color: rgb(255, 255, 255);
}
/* 1행 왼쪽 */
.my_up_left{
	border-radius: 50px 10px 10px 10px;
	margin-bottom: 30px;
	padding-bottom:10px;
	border: 1px solid #383737;
	background-color: #3d3d3d;
	color:white;
	height:270px;
}
.my_up_left h4{
	font-size:15px;
	color:#ffffff;
	margin-top: 10px;
	margin-left: 30px;
	align-self: center;
}
.my_up_left hr {
	border: 3px;
	border: 2px solid #151515;
	border-top-style: dashed;
}
.my_up_left:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;
}


/* 1행 오른쪽 */


.my_up_right_1{
	border-radius: 10px 50px 10px 10px;
	margin-bottom: 30px;
	padding-bottom: 4px;
	border: 1px solid #383737;
	background-color: #3d3d3d;
	color:white;
	height:120px;
}
.my_up_right_1 h4{
	font-size:15px;
	color:#ffffff;
	margin-top: 10px;
	margin-left: 30px;
	align-self: center;
}
.my_up_right_1 hr {
	border: 3px;
	border: 2px solid #151515;
	border-top-style: dashed;
}
.my_up_right_1 p {
	font-size: 25px;
	color: white;
	text-align: center;
}
.my_up_right_1:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;
}

.my_up_right_2{
	border-radius: 10px;
	margin-bottom: 30px;
	padding-bottom: 4px;
	border: 1px solid #383737;
	background-color: #3d3d3d;
	color:white;
	height:120px;
}
.my_up_right_2 h4{
	font-size:15px;
	color:#ffffff;
	margin-top: 10px;
	margin-left: 30px;
	align-self: center;
}
.my_up_right_2 hr{
	border: 3px;
	border: 2px solid #151515;
	border-top-style: dashed;
}
.my_up_right_2 p{
	font-size: 15px;
	color: white;
	text-align: center;
}
.my_up_right_2:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;
}

/* 2행 왼쪽 */
.my_down_left{
	border-radius: 10px 10px 10px 50px;
	margin-bottom: 30px;
	padding-bottom:10px;
	border: 1px solid #383737;
	background-color: #3d3d3d;
	color:white;
	height:270px;
}
.my_down_left h4{
	font-size:15px;
	color:#ffffff;
	margin-top: 10px;
	margin-left: 30px;
	align-self: center;
}
.my_down_left hr {
	border: 3px;
	border: 2px solid #151515;
	border-top-style: dashed;
}
.my_down_left:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;
}
.divstyle2{
	margin-top: 5px;
}
.col-sm-7{
	margin-left: 17px;

}

/* 출석 베스트3 */
.best{
	border-radius: 0px 0px 10px 50px;
	padding-bottom:0px;
	border: 1px solid #3d3d3d;
	background-color: #3d3d3d;
	color:white;
	height:210px;
}
.row .best_list{
	margin-top: -18px;
	height: 60px;
}
.best hr{
	border: 1px;
	border-top: 1px solid #151515;
	border-top-style: double;
}


/* 2행 오른쪽 */
.my_down_right{
	border-radius: 10px 10px 50px 10px;
	margin-bottom: 30px;
	padding-bottom:10px;
	border: 1px solid #383737;
	background-color: #3d3d3d;
	color:white;
	height:270px;
}
.my_down_right h4{
	font-size:15px;
	color:#ffffff;
	margin-top: 10px;
	margin-left: 30px;
	align-self: center;
}
.my_down_right hr {
	border: 3px;
	border: 2px solid #151515;
	border-top-style: dashed;
}
.my_down_right:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;
}
.my_list {
    cursor: default;
}
.my_list .window {
    font-size: 0;
    overflow: hidden;
}
.my_list .window li{
    margin-left:0px;
}
.my_list .window li:hover {
    background-color: #5d5b5b;
}
.my_list .window h4{
	color: white;
	margin-top: -1px;
	font-size: 18px;
	text-align: center;
}
.my_list .window h5{
	color: white;
	font-size: 14px;
	text-align: center;
}

.my_list .window hr{
	border: 1px;
	border-top: 1px solid #151515;
	border-top-style: double;
}


/* 1행과 2행 가운데  */
.my_up_mid{
	border-radius: 10px;
	margin-bottom: 30px;
	padding-bottom:10px;
	border: 1px solid #383737;
	background-color: #3d3d3d;
	color:white;
	height:270px;
}
.my_up_mid h4{
	font-size:15px;
	color:#ffffff;
	margin-top: 10px;
	margin-left: 30px;
	align-self: center;
}
.my_up_mid hr {
	border: 3px;
	border: 2px solid #151515;
	border-top-style: dashed;
}
.my_up_mid:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;
}

.my_dash_left{
	border-radius: 10px;
	margin-bottom: 30px;
	padding-bottom:10px;
	border: 1px solid #383737;
	background-color: #3d3d3d;
	color:white;
	height:270px;
	
}
.my_dash_left p{
	font-size:15px;
	color: black;
}
.my_dash_left h4{
	font-size:15px;
	color:#ffffff;
	margin-top: 10px;
	margin-left: 30px;
	align-self: center;
}
.my_dash_left h5{
	font-size:15px;
	color: black;
}
.my_dash_left hr {
	border: 3px;
	border: 2px solid #151515;
	border-top-style: dashed;
}
.my_dash_left:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;
}


.my_dash_right{
	border-radius: 10px;
	margin-bottom: 30px;
	padding-bottom:10px;
	border: 1px solid #383737;
	background-color: #3d3d3d;
	color:white;
	height:270px;
}
.my_dash_right p{
	font-size:15px;
	color: black;
}
.my_dash_right h4{
	font-size:15px;
	color:#ffffff;
	margin-top: 10px;
	margin-left: 30px;
	align-self: center;
}
.my_dash_right h5{
	font-size:15px;
	color: black;
}
.my_dash_right hr {
	border: 3px;
	border: 2px solid #151515;
	border-top-style: dashed;
}
.my_dash_right:hover {
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;
}

/* 1행 가운데 중에 Progress bar */
img {
    border-radius: 50%;
	margin-left: 10px;
}

.my_up_mid_scroll{
	border-radius: 0px 0px 10px 10px;
	margin-top: -18px;
	padding-top: 18px;
	border: 1px solid #3d3d3d;
	background-color: #3d3d3d;
	color:white;
	height:245px;
}
.my_up_mid_scroll:hover{
	background-color: #4f4f4f;
	-moz-box-shadow:    3px 3px 2px 0px #151515;
    -webkit-box-shadow: 3px 3px 2px 0px #151515;
    box-shadow:         3px 3px 2px 0px #151515;
}
.my_up_mid_scroll hr{
	border: 2px;
	border-top: 2px solid #151515;
	border-top-style: double;
}

/* 스크롤의 각 행들 */
.row .my_scroll{
	margin-top: -18px;
	height: 60px;
}

/* 스크롤들의 첫 행 */
.row .my_scroll_first{
	height: 60px;
}
.divstyle{
	margin-top: -20px;
}
.progress{
	margin-top: 0px;
}

/* progress-bar 옵션 from 지훈님 */


.col-md-9{
	margin-left: 10px;
}
.progress-bar {
	background-color: #b2c831;
	height:20px;
	text-align: right;
	font-size: 15px;
 }

 
 .progress-meter {
	min-height: 10px;
	border-bottom: 1px solid rgb(170, 170, 170);
 }
 
 .progress-meter > .meter {
	position: relative;
	float: left;
	min-height: 10px;
	border-width: 0px;
	border-style: solid;
	border-color: rgb(160, 160, 160);
 }
 
 .progress-meter > .meter-left {
	border-left-width: 1px;
 }
 
 .progress-meter > .meter-right {
	float: right;
	border-right-width: 1px;
 }
 
 .progress-meter > .meter-right:last-child {
	border-left-width: 1px;
 }
 
 .progress-meter > .meter > .meter-text {
	position: absolute;
	display: inline-block;
	margin-bottom: 5px;
	bottom: -20px;
	width: 100%;
	font-size: 10px;
	color: rgb(160, 160, 160);
	text-align: left;
 }
 
 .progress-meter > .meter.meter-right > .meter-text {
	text-align: right;
 }



/* 2행 가운데 중에 NOTICE */
.my_dash_left button{
	color: white;
	font-size: 12px;
	background-color: #3d3d3d;
	border-color: #3d3d3d;
	padding: 0px;
	text-align: left;
}
.my_dash_left button:hover{
	background-color: #5d5d5d;
	border-color: #5d5d5d;
}

.my_dash_left li{
	font-size:15px;
	color: white;
	background-color:#3d3d3d;
	border-color: #3d3d3d;
    padding: 0px;
	margin-bottom: 10px;
}
.my_dash_left li i {
    display: inline-block;
	height: 30px;
    max-height: 60px;
    width: 6px;
}
.my_dash_left li .read {
    background-color: #ddd;
}
.my_dash_left li .unread {
    background: #b2c831;
}


/* Modal button */
.modal-dialog button{
	color: #151515;
	background-color: white;
	border-color: #151515;
}
.modal-dialog button:hover{
	background-color: #151515;
}
/* Font */


/*********** 캐러샐 Style ***********/
.carousel-inner{
	margin-top: -14px;
}
.carousel-inner h5{
	text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
	color: #3d3d3d;
	font-size: 28px;
}
.carousel-inner p{
	text-shadow: -2px 0 #3d3d3d, 0 2px #3d3d3d, 2px 0 #3d3d3d, 0 -2px #3d3d3d;
	color: white;
	margin-bottom: -30px;
	font-size: 20px;
}
.carousel-indicators{
	margin-bottom: -22px;
}

/***********MY CALENDAR ***********/
.my_calendar{
	margin-bottom: 30px;
	border: 1px solid #383737;
	background-color: #ffffff;
	color:white;
	max-width: 960px;
	max-height:700px;
}

/***********FOOTER***********/
.footer{
	width: 100%;
    background:#262626;
    padding-top:17px;
    padding-bottom: 25px;
	border-top-style: solid;
    border-top-width:8px;
    border-top-color:#1d1d1d;
    text-align:center
}